body{
    background:#ffffb3;
    border:3px double;
    margin:2%;
    padding-top: 5%;
}

#yellow-nav{
    background:none;
    border:none;
    font-family:'Playfair Display SC';
    font-size:1em;
    font-weight:bold;
    padding:3% 3% 0% 3%;
}

#yellow-nav a{
    color:black;
}

#yellow-nav a:hover{
    color:#ffcc00;
}

#navbar-self-portrait{
    width:15%;
    float:left;
    margin-right:4px;
}

#navbar-brand{
    padding-top:2%;
    width:300px;
}

#desktop-menu-right li{
    display:inline;
    float:right;
    list-style: none;
    padding:2%;
}

#desktop-menu-right li a {
    text-decoration: none;
}



#mobile-menu ul {
  list-style: none;
  float:right;
  margin-right:5%;
}

.dot{
  width:7px;
  height:7px;
  border:1px solid;
  border-radius:50%;
  margin:2px;
  font-size:0.5em;
  text-align:center;
}

#job-title{
    font-family:'Raleway';
    font-size:0.6em;
}


#clock-page, #page2, #page3{
 border-bottom:3px double;
 height:auto;
 padding-top:5%;
 padding-bottom:10%;
}

#clock-page{
    border-top:none;
}

@media screen and (min-width:768px){
    #clock-page{
        height:700px;
    }
}

#page2{
    padding-bottom:5%;
}

#page3{
    height:800px;
}

.clock {
  border-radius: 50%;
  background: #ffffb3 url('/img/roman-clock.svg') no-repeat center;
  background-size: 220%;
  height: 20em;
  /*padding-bottom: 31%;*/
  position: relative;
  width: 27em;
    overflow-x:hidden;
}

.clock:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 44%;
  top: 51%;
  transform: translate(-50%, -50%);
  width: 3%;
  height: 3%;
  z-index: 10;
}

.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 7px;
  right: 39px;
  bottom: 0;
  left: 0;
}

.hours {
  background: #000;
  border-radius:50%;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
}

.minutes {
  background: #000;
  border-radius:50%;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 1.5%;
}

.seconds {
  background: #ffcc00;
  border-radius:40%;
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.hours-container {
  animation: rotate 43200s infinite linear;
}
.minutes-container {
  animation: rotate 3600s infinite linear;
}
.seconds-container {
  animation: rotate 60s infinite linear;
}

@media screen and (max-width:767px){
    .clock{
        max-width:100%;
    }
    .seconds-container{
        display:none;
    }
}


/*Home page typography and styling*/

@font-face {
  font-family: Shadeco;
  src: url('/css/LetteringDecoShadow.otf');
  src: url('/css/LetteringDecoShadow.ttf');
  }
  
.title{
    font-family:'Gravitas One';
    
}
  
.subtitle, #mobile-instructions{
    font-family:'IM Fell Great Primer', serif;'
    letter-spacing:0.5;
    margin-bottom:2%;
}

#current-date, #activity-list, #chosen-time, .project-name{
    font-family:'Raleway', sans-serif;
    font-weight:bold;
}

#current-date, #chosen-time{
    display:inline;
}

#activity-section{
    border-bottom:1px dotted;
}


select{
    background:#ffffb3;
}

select:focus{
    color:#ff751a;
}


#date{
    margin-left:8%;
}

#activity-list{
    list-style: none;
    list-style-position: inside;
    margin:10px;
    padding:0;
}

span{
    font-weight:400;
}

#dropdown-instructions{
    margin:10px;
}

#projects-page-title{
    float:right;
    font-size:1.8em;
    padding:3% 5% 0% 0%;
}

#projects-subtitle, #mobile-instructions{
    font-size:.7em;
}

.project-graphic{
    height:70%;
}

@media screen and (max-width:767px){
    #yellow-nav{
      padding-top:0;
    }
    #clock-area{
        padding-top:20%;
    }
    .clock{
        width:90%;
        margin-left:10%;
    }
   .project-graphic{
        height:45%;
    }
    .project-poster{
        padding-top:15%;
    }
    #mmp-description, #map-description{
        font-size:0.9em;
    }
}

.project-box a{
    color:black;
}

.project-box a:hover{
    text-decoration: none;
    color:#ff751a;
}

.project-name{
    text-align: center;
}

.project-description{
    width:90%;
    padding:5%;
}

#mmp-link, #CIA-link, #senate-link, #map-link, #fingers-link{
    color:#ff751a;
}

#CIA-pic {
    width:80%;
}

#CIA-pic{
    margin:5% 0% 7% 12%;
}

#fingers-pic{
    margin-left:25%;
    width:90%;
}


